[Desktop Entry]
Name=Cosmi Kit
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.kitfoxboy.cosmi-kit
Exec=cosmi-kit %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
